* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(55, 239, 9);
}

a:hover {
  color: red;
}

body {
  background-color: rgb(14, 18, 29);
}

header,
footer {
  color: white;
  background-color: rgb(62, 62, 62);
}

footer {
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 50px;
}

.cardGridContainer {
  width: 70%;
  margin: 100px auto;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 2px rgb(102, 248, 5);
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.gridItem {
  justify-self: center;
}

.card {
  border-radius: 8%;
  height: 10em;
  margin: 1em;
  box-shadow: 1px 1px 10px 2px rgb(255, 0, 119);
}

@media screen and (max-width: 720px) {
  .card {
    height: 7em;
  }
}
