body {
  background-color: rgb(14, 18, 29);
}

header,
footer {
  color: white;
}

.cardGridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  height: 75px;
  margin: 5%;
  box-shadow: 5px 5px 5px rgb(197, 118, 7);
  justify-self: center;
}
